<div id="navContainer">
  <input oninput="glossarySearch()" type="text" name="glossarySearch" id="inputGlossarySearch" placeholder="Search for a word in the glossary">
  <i class="fa fa-search" style="font-size:20px"></i> 
  <div class="btn-primary navItem" onclick="navMovementHandler(1)">
    <p>Next <i class="fa fa-chevron-right" style="font-size:16px"></i></p>
  </div>
  <div class="btn-primary navItem" onclick="navMovementHandler(-1)">
    <p>Back <i class="fa fa-chevron-left" style="font-size:16px"></i></p>
  </div>
</div>

<!-- 27/04/20 - 15.35 - Daniel har ændret text til back and next istedet for forwards og backwards -->